html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .palabra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .card-size {
    min-width: 500px;
    width: auto;
  }

 input[type="text"]{
    height:0;
    width:0;
    padding:0;
    margin:0;
    float:right;
  }