* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #07411e;
}

#linea {
  margin: 15px;
}

.pista {
  font-weight: bolder;
}

#boton {
  text-align: right;
}

main {
  width: auto;
  background: rgb(223, 223, 223);
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgba(24, 24, 24, 0.1);
}

h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.content {
  margin: 25px 25px 35px;
}

.content .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.inputs input {
  height: 57px;
  width: 57px;
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #1ba98c;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #817e7e;
}

.lletra {
  opacity: 0;
  z-index: -999;
  position: absolute;
  pointer-events: none;
}

.inputs input:first-child {
  margin-left: 0px;
}

.content .detalles {
  margin: 25px 0 25px;
}

.detalles p {
  font-size: 19px;
  margin-bottom: 10px;
}

.content .reset-btn {
  width: auto;
  cursor: pointer;
  color: #fff;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background: #631491;
  transition: all 0.3s ease;
  padding: 2%;
}

.content .reset-btn:hover {
  background: #8d18a5;
}

@media screen and (max-width: 460px) {
  main {
    width: 460px;
  }

  h1 {
    font-size: 22px;
    padding: 16px 20px;
  }

  .content {
    margin: 25px 20px 35px;
  }

  .detalles p {
    font-size: 17px;
  }

  .inputs input {
    height: 51px;
    width: 50px;
    margin: 3px;
    font-size: 22px;
  }

  .content .reset-btn {
    padding: 14px 0;
    font-size: 16px;
  }
}